body {
  text-align: center;
  background: lightgray;
  color: grey;
  font-family: Calibri;
}
.header {
  text-align: center;
  color: black;
  font-family: Arial;
}
.list {
  text-align: left;
  font-family: Monsterrat;
  font-size: 125%
}
p {
  font-size: 150%;
}
